/* Microsoft Docs / ... / Segoe Fluent Icons font https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font */

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url(../assets/fonts/Segoe\ Fluent\ Icons.ttf) format("truetype");
}

#button_options,
#s_button_login,
#pmi_button_login,
#s_button_editor,
#pmi_button_editor,
#s_button_editor_off,
#pmi_button_editor_off,
#button_paste,
#button_to_lower_case,
#button_to_upper_case,
#button_cut,
#button_copy,
#s_button_p5_login_save,
#s_button_p6_login_save,
#s_button_p5_login_reset,
#s_button_p6_login_reset {
  font-family: "Segoe Fluent Icons";
}

#button_options::before {
  content: "\e713";
}

#s_button_login::before,
#pmi_button_login::before {
  content: "\e8a7";
}

#s_button_editor::before,
#pmi_button_editor::before {
  content: "\e70f";
}

#s_button_editor_off::before,
#pmi_button_editor_off::before {
  content: "\e890";
}

#button_paste::before {
  content: "\e77f";
}

#button_to_lower_case::before {
  content: "\e74b";
  content: "\e84a";
}

#button_to_upper_case::before {
  content: "\e74a";
  content: "\e84b";
}

#button_cut::before {
  content: "\e8c6";
}

#button_copy::before {
  content: "\e8c8";
}

#s_button_p5_login_save::before,
#s_button_p6_login_save::before {
  content: "\e74e";
}

#s_button_p5_login_reset::before,
#s_button_p6_login_reset::before {
  content: "\e777";
}
