/* Microsoft Docs / ... / Segoe Fluent Icons font https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font */

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url(../assets/fonts/Segoe\ Fluent\ Icons.ttf) format("truetype");
}

#button_options,
#button_s_login,
#button_p_login,
#button_s_editor,
#button_p_editor,
#button_s_editor_off,
#button_p_editor_off,
#button_paste,
#button_cut,
#button_copy,
#button_s_p5_login_save,
#button_s_p6_login_save,
#button_s_p5_login_reset,
#button_s_p6_login_reset,
#button_shortcuts {
  font-family: "Segoe Fluent Icons";
}

#button_options::before {
  content: "\e713";/* Settings */
}

#button_s_login::before,
#button_p_login::before {
  content: "\e8a7";/* OpenInNewWindow */
}

#button_s_editor::before,
#button_p_editor::before {
  content: "\e70f";/* Edit */
}

#button_s_editor_off::before,
#button_p_editor_off::before {
  content: "\e890";/* View */
}

#button_paste::before {
  content: "\e77f";/* Paste */
}

#button_cut::before {
  content: "\e8c6";/* Cut */
}

#button_copy::before {
  content: "\e8c8";/* Copy */
}

#button_s_p5_login_save::before,
#button_s_p6_login_save::before {
  content: "\e74e";/* Save */
}

#button_s_p5_login_reset::before,
#button_s_p6_login_reset::before {
  content: "\e777";/* UpdateRestore */
}

#button_shortcuts::before {
  content: "\e8a7";/* OpenInNewWindow */
}

#icon_vis_s_aem,
#icon_vis_p_aem,
#icon_vis_utilities,
#icon_s_p5_login,
#icon_s_p6_login,
#icon_p_age_gate,
#icon_theme,
#icon_shortcuts {
  font-family: "Segoe Fluent Icons";
}

#icon_vis_s_aem::before,
#icon_vis_p_aem::before,
#icon_vis_utilities::before {
  content: "\e890";/* View */
}

#icon_s_p5_login::before,
#icon_s_p6_login::before {
  content: "\f32a";/* PassiveAuthentication */
}

#icon_p_age_gate::before {
  content: "\e99a";/* Robot */
}

#icon_theme::before {
  content: "\e790";/* Color */
  content: "\e771";/* Personalize */
}

#icon_shortcuts::before {
  content: "\eda7";/* KeyboardShortcut */
}

.btn.icon,
.accordion-body .btn.icon,
.toast-body .icon {
  font-size: 14px;
}

.accordion-body .icon {
  font-size: 24px;
  margin-right: 1.25rem;
}

.accordion-body .btn.icon {
  margin-right: unset;
}

.toast-body .icon {
  margin-right: 0.75rem;
}
