#div_ie_0 {
  z-index: 999;
}

#div_ie_5 {
  width: calc(25rem - 1rem);
  height: calc(25rem - 1rem);
}

#div_ie_6 {
  height: 100%;
}

/*
 * ------------------------- Motion -------------------------
 */

@keyframes ms-motion-slideUpIn {
  from {
    transform: translate3d(0, 48px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ms-motion-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ms-motion-slideUpIn {
  animation: 100ms ms-motion-slideUpIn both cubic-bezier(0.1, 0.9, 0.2, 1), 100ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

@keyframes ms-motion-slideDownOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 48px, 0);
  }
}

@keyframes ms-motion-fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ms-motion-slideDownOut {
  animation: 100ms ms-motion-slideDownOut both cubic-bezier(0.9, 0.1, 1, 0.2), 100ms ms-motion-fadeOut both cubic-bezier(0, 0, 1, 1);
}

/*
 * ------------------------- Typography -------------------------
 */

/* ------------------------- Type Ramp ------------------------- */

@font-face {
  font-family: "Segoe UI Variable";
  src: url(chrome-extension://__MSG_@@extension_id__/assets/fonts/segoe_ui_variable.ttf) format("truetype-variations");
}

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url(chrome-extension://__MSG_@@extension_id__/assets/fonts/segoe_fluent_icons.ttf) format("truetype");
}

/*
 * ------------------------- Scroll Bar (Scroll Viewer) -------------------------
 */

/* ------------------------- Mode: Light, Orientation: Bidirectional, Expanded: False ------------------------- */

.light #div_ie_0 ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.light #div_ie_0 ::-webkit-scrollbar-corner {
  background-color: unset;
}

.light #div_ie_0 ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 999px;
}

/* ------------------------- Mode: Dark, Orientation: Bidirectional, Expanded: False ------------------------- */

.dark #div_ie_0 ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.dark #div_ie_0 ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.54);
  border-radius: 999px;
}

.dark #div_ie_0 ::-webkit-scrollbar-corner {
  background-color: unset;
}

/*
 * ------------------------- Surfaces -------------------------
 */

/* ------------------------- App Surface ------------------------- */

/* ------------------------- Mode: Light, Part: Base (Mica), Inactive: False ------------------------- */

.light .f-app-surface-base {
  border: 1px solid rgba(117, 117, 117, 0.4);
}

.light #div_ie_0.f-app-surface-base,
.light #button_ie_chrome_close {
  background-color: rgba(243, 243, 243, 1);
}

/* ------------------------- Mode: Dark, Part: Base (Mica), Inactive: False ------------------------- */

.dark .f-app-surface-base {
  border: 1px solid rgba(117, 117, 117, 0.4);
}

.dark #div_ie_0.f-app-surface-base,
.dark #button_ie_chrome_close {
  background-color: rgba(32, 32, 32, 1);
}
