/* button {
  border: 1px solid #dee2e6 !important;
} */

.width-5 {
  width: 5rem;
}

.width-10 {
  width: 10rem;
}

.width-20 {
  width: 20rem;
}

/* ------------------------- ... ------------------------- */

:root {
  color-scheme: light dark;
}

/* @media (prefers-color-scheme: light) {
  .bg-light {...};
}

@media (prefers-color-scheme: dark) {
  .bg-dark {...};
} */

.bg-light {
  background-color: #f2f2f2;
}

body.bg-light button {
  color: #000;
  background-color: #ebebeb;
  border: none;
}

body.bg-light button:hover {
  color: #000;
  background-color: #dbdbdb;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

/*
 * ------------------------- motion -------------------------
 */

@keyframes ms-motion-slideDownIn {
  from {
    transform: translate3d(0, -48px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ms-motion-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#button_options,
#s_select_aem_s_button_aem_login,
#pmi_select_aem_pmi_button_aem_login,
#button_paste_input_utilities,
#s_div_aem {
  animation: 100ms 125ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 125ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_input_url,
#pmi_input_url,
#button_to_lower_case_button_to_upper_case,
#pmi_div_aem {
  animation: 100ms 150ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 150ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_editor_s_button_editor_off,
#pmi_button_editor_pmi_button_editor_off,
#button_cut_button_copy,
#div_utilities {
  animation: 100ms 175ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 175ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_qa,
#pmi_button_live_login,
#div_theme {
  animation: 100ms 200ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 200ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_live,
#pmi_button_live {
  animation: 100ms 225ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 225ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_sites,
#pmi_button_sites {
  animation: 100ms 250ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 250ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_assets,
#pmi_button_assets {
  animation: 100ms 275ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 275ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_task_management {
  animation: 100ms 300ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 300ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_workflows {
  animation: 100ms 325ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 325ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_purging {
  animation: 100ms 350ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 350ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_pim_b2c {
  animation: 100ms 375ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 375ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#s_button_pim_b2b {
  animation: 100ms 400ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 400ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}
