.width-5 {
  width: 5rem;
}

.width-7 {
  width: 7.5rem;
}

#module_p_aem {
  transition: 0.5s ease background-color;
}

/*
 * ------------------------- Motion -------------------------
 */

@keyframes ms-motion-slideDownIn {
  from {
    transform: translate3d(0, -48px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ms-motion-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#module_options,
#module_s_aem,
#module_p_aem,
#module_utilities,
#toast_p_age_gate {
  animation: 100ms 125ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 125ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_options,
#input_group_s_login,
#input_group_p_login,
#input_group_paste {
  animation: 100ms 150ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 150ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#input_s_url,
#input_p_url,
#btn_group_capitalization {
  animation: 100ms 175ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 175ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#btn_group_s_editor,
#btn_group_p_editor,
#btn_group_cut_copy {
  animation: 100ms 200ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 200ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_qa,
#button_p_live_login {
  animation: 100ms 225ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 225ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_live,
#button_p_live {
  animation: 100ms 250ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 250ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_sites,
#button_p_sites {
  animation: 100ms 275ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 275ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_assets,
#button_p_assets_local {
  animation: 100ms 300ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 300ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_task_management,
#button_p_grfalse {
  animation: 100ms 325ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 325ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_workflows {
  animation: 100ms 350ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 350ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_purging {
  animation: 100ms 375ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 375ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_pim_b2c {
  animation: 100ms 400ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 400ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#button_s_pim_b2b {
  animation: 100ms 425ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1), 100ms 425ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}
