@use "fluent/typography";
@use "fluent/colors";

@use "fluent/controls/button";
@use "fluent/controls/hyperlink_button";
@use "fluent/controls/hyperlink";
@use "fluent/controls/dropdown";
@use "fluent/controls/text_box";
@use "fluent/controls/info_bar";
@use "fluent/controls/badge";
@use "fluent/controls/side_nav";

@use "fluent/containers";
@use "fluent_config.scss";

/* ------------------------- help.html ------------------------- */

$spacer: 0.5rem;

.block {
  display: flex;
  align-items: center;
  margin-top: $spacer;

  &__container {
    display: flex;
    align-items: center
  }

  &__dropdown,
  &__text-box {
    width: 10rem;
  }

  &__info-bar {
    margin-top: $spacer;
  }

  &__body {
    @extend .body, .text;
    margin-left: $spacer;

    &--ampersand {
      margin-right: $spacer;
    }
  }

  &__button-task-management,
  &__button-workflows {
    // .text-truncate
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button-images::before {
    content: "\ee71";
  }

  &__button-options::before {
    content: "\e713";
  }

  &__button-help::before {
    content: "\e897";
  }

  &__button-login::before {
    content: "\e8a7";
  }

  &__button-editor::before {
    content: "\e70f";
  }

  &__button-preview::before {
    content: "\e890";
  }

  &__button-paste::before {
    content: "\e77f";
  }

  &__button-cut::before {
    content: "\e8c6";
  }

  &__button-copy::before {
    content: "\e8c8";
  }
}

.code {
  @extend .text;
  // .body
  font-family: typography.$font-family-cascadia-code;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  // Notion
  padding: 1px 5px;
  border-radius: 4px;
}

.light {
  .code {
    // Notion
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(249, 245, 241, 1);
  }
}

.dark {
  .code {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(6, 10, 14, 1);
  }
}
