@use "fluent/controls/bootstrap";
@use "fluent/containers";

@use "fluent/variables";

@use "fluent/typography";
@use "fluent/iconography";
@use "fluent/color";
@use "fluent/surfaces";

@use "fluent/motion";

@use "fluent/controls/button";
@use "fluent/controls/dropdown";
@use "fluent/controls/text_box";

// ------------------------- Typography 2 -------------------------

@font-face {
  font-family: "Cascadia Code";
  src: url(../assets/fonts/CascadiaCode.ttf) format("truetype");
}

.f-cascadia_code { font-family: "Cascadia Code"; }

@font-face {
  font-family: "Cascadia Code Italic";
  src: url(../assets/fonts/CascadiaCodeItalic.ttf) format("truetype");
}

.f-cascadia_code_italic { font-family: "Cascadia Code Italic"; }

// ------------------------- Scroll Bar (Scroll Viewer) 2 -------------------------

.content {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-corner { background-color: unset; }

  ::-webkit-scrollbar-thumb { border-radius: 999px; }
}

html.light {
  .content {
    ::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.45); }
  }
}

html.dark {
  .content {
    ::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.54); }
  }
}

/* ------------------------- images.html ------------------------- */

.component {
  @extend .position-fixed, .bottom-0, .start-0;
  margin: 0.5rem;
  border-radius: variables.$border-radius-base;
  z-index: 999;
}

// bootstrap-components + fluent-controls (f-typography, f-color, f-iconography), f-surfaces, bootstrap-utilities, CSS

.close {
  // &__button-close { i }

  // ChromeClose
  &__button-close::before { font-family: iconography.$font-family; content: "\e8bb"; }
}

.search { margin-top: 0.5rem; }

.content {
  margin-top: 0.5rem;
  width: 25rem;
  height: 25rem;

  &__container {
    @extend .overflow-scroll;
    height: 100%;
  }

  &__container-inner {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem
  }

  &__container-inner:first-child { margin-top: 0; }

  &__title,
  &__subtitle-src,
  &__subtitle-alt { @extend .f-text, .text-nowrap; }

  &__title { @extend .f-body, .f-cascadia_code; }

  &__subtitle-src,
  &__subtitle-alt { @extend .f-caption, .f-cascadia_code_italic, .text-muted; }
}

// ------------------------- Motion 2 -------------------------

.ms-motion-slideDownOut {
  -webkit-animation: ms-motion-slideDownOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideUpIn {
  -webkit-animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 125ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 125ms both;
          animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 125ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 125ms both;
}
