@use "bootstrap";

@use "fluent/typography";
@use "fluent/color";
@use "fluent/button";
@use "fluent/dropdown";
@use "fluent/text_box";
@use "fluent/scroll_viewer";
@use "fluent/surfaces";

@use "fluent/iconography";

/* ------------------------- Typography 2 ------------------------- */

$chrome-extension-url: "chrome-extension://__MSG_@@extension_id__";

@font-face {
  font-family: typography.$font-family;
  src: url($chrome-extension-url + "/assets/fonts/segoe_ui_variable.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Cascadia Code";
  src: url($chrome-extension-url + "/assets/fonts/CascadiaCode.ttf") format("truetype");
}

.cascadia_code { font-family: "Cascadia Code"; }

@font-face {
  font-family: "Cascadia Code Italic";
  src: url($chrome-extension-url + "/assets/fonts/CascadiaCodeItalic.ttf") format("truetype");
}

.cascadia_code_italic { font-family: "Cascadia Code Italic"; }

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url($chrome-extension-url + "/assets/fonts/segoe_fluent_icons.ttf") format("truetype");
}

/* ------------------------- image_export.html ------------------------- */

.body {
  &__container {
    @extend .position-fixed, .bottom-0, .start-0, .rounded, .m-2, .p-2, .f-app-surface-base, .ms-motion-slideUpIn;
    z-index: 999;
  }
}

.button-close {
  @extend .btn, .btn-sm, .position-absolute, .top-0, .start-100, .translate-middle, .icon, .f-text, .btn--f-standard, .f-app-surface-base;

  &::before {
    font-family: iconography.$font-family;
    // ChromeClose
    content: "\e8bb";
  }
}

.block1 {
  @extend .rounded, .p-2, .f-app-surface-layer;

  &__container1       { @extend .row, .g-2; }
  &__container2,
  &__container3       { @extend .col; }
  &__input-group      { @extend .input-group, .input-group-sm; }
  &__input-group-text { @extend .input-group-text, .f-body, .f-text, .f-body, .f-text; }
  &__select           { @extend .form-select, .form-select-sm, .f-body, .f-text; }
  &__input            { @extend .form-control, .form-control-sm, .f-body, .f-text; }
}

.block2 {
  @extend .rounded, .mt-2, .p-2, .f-app-surface-layer;
  width: 25rem;
  height: 25rem;

  &__container1 {
    @extend .overflow-scroll;
    height: 100%;
  }
  &__container2   { @extend .d-flex, .flex-column, .mb-2; }
  &__title        { @extend .text-nowrap, .f-body, .f-text, .cascadia_code; }
  &__subtitle-src { @extend .text-nowrap, .f-caption, .f-text, .cascadia_code_italic; }
  &__subtitle-alt { @extend .text-muted, .text-nowrap, .f-caption, .f-text, .cascadia_code_italic; }
}

/* ------------------------- Motion ------------------------- */

@keyframes ms-motion-slideUpIn {
  from { transform: translate3d(0, 48px, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes ms-motion-fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ms-motion-slideUpIn {
  animation:
  100ms ms-motion-slideUpIn both cubic-bezier(0.1, 0.9, 0.2, 1),
  100ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

@keyframes ms-motion-slideDownOut {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 48px, 0); }
}

@keyframes ms-motion-fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.ms-motion-slideDownOut {
  animation:
  100ms ms-motion-slideDownOut both cubic-bezier(0.9, 0.1, 1, 0.2),
  100ms ms-motion-fadeOut both cubic-bezier(0, 0, 1, 1);
}
