@use "bootstrap";

@use "fluent/typography";
@use "fluent/color";
@use "fluent/button";
@use "fluent/dropdown";
@use "fluent/toggle_switch";
@use "fluent/expander";
@use "fluent/text_box";
@use "fluent/scroll_viewer";
@use "fluent/tooltip";
@use "fluent/surfaces";
@use "fluent/iconography";

/* ------------------------- options.html ------------------------- */

.container { border-radius: 8px; }

.min-width-2 { min-width: 2.5rem; }

.width-5 { width: 5rem; }

.width-10 { width: 10rem; }

.width-20 { width: 20rem; }

/* ------------------------- Iconography 2 ------------------------- */

#icon_theme,
#icon_shortcuts,
#icon_vis,
#icon_s_aem,
#button_s_p5_login_save,
#button_s_p6_login_save,
#button_s_p5_login_reset,
#button_s_p6_login_reset,
#button_shortcuts {
  font-family: iconography.$font-family;
}

#icon_theme::before { content: "\e771"; }// Personalize

#icon_shortcuts::before { content: "\eda7"; }// KeyboardShortcut

#icon_vis::before { content: "\e890"; }// View

#icon_s_aem::before { content: "\e99a"; }// Robot

#button_s_p5_login_save::before,
#button_s_p6_login_save::before { content: "\e74e"; }// Save

#button_s_p5_login_reset::before,
#button_s_p6_login_reset::before { content: "\e777"; }// UpdateRestore

#button_shortcuts::before { content: "\e8a7"; }// OpenInNewWindow

/* ------------------------- Motion ------------------------- */

@keyframes ms-motion-slideDownIn {
  from { transform: translate3d(0, -48px, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes ms-motion-fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#option_theme {
  animation:
  100ms 125ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 125ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#option_shortcuts {
  animation:
  100ms 150ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 150ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#option_vis {
  animation:
  100ms 175ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 175ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

#option_s_aem {
  animation:
  100ms 200ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 200ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}
