@use "fluent/controls/bootstrap";
@use "fluent/containers";

@use "fluent/variables";

@use "fluent/typography";
@use "fluent/iconography";
@use "fluent/color";
@use "fluent/surfaces";

@use "fluent/motion";

@use "fluent/controls/button";
@use "fluent/controls/dropdown";
@use "fluent/controls/toggle_switch";
@use "fluent/controls/expander";
@use "fluent/controls/text_box";
@use "fluent/controls/scroll_viewer";
@use "fluent/controls/tooltip";

/* ------------------------- options.html ------------------------- */

.component {
  border: unset !important;

  &__inner {
    // @extend .container;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    // border-radius: variables.$border-radius-base;
  }

  &__toggle-switch {
    margin-left: 0.5rem;
  }
}

// bootstrap-components + fluent-controls (f-typography, f-color, f-iconography), f-surfaces, bootstrap-utilities, CSS

.heading {
  @extend .f-text, .text-muted;
  display: block;

  &--options {
    // { a }
    @extend .f-title;
  }

  &--aem-samsung {
    // { a }
    @extend .f-body-strong;
    margin-top: 0.5rem
  }
}

.about {
  // { a }
  margin-top: 0.5rem;

  &__container-row {
    display: flex;
    // flex-direction: row;
    align-items: center;
  }

  &__container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
  }

  &__container-column {
    display: flex;
    flex-direction: column;
  }

  &__title { @extend .f-body, .f-text; }
}

.appearance {
  // { a }
  margin-top: 0.5rem;

  // &__icon-personalize { i }
  &__select-theme { width: 10rem; }

  // Personalize
  &__icon-personalize::before { font-family: iconography.$font-family; content: "\e771"; }
}

.shortcuts {
  // { a }
  margin-top: 0.5rem;

  // &__icon-keyboard { i }
  // &__button-open { i }

  // KeyboardShortcut
  &__icon-keyboard::before  { font-family: iconography.$font-family; content: "\eda7"; }
  // OpenInNewWindow
  &__button-open::before    { font-family: iconography.$font-family; content: "\e8a7"; }
}

.extensions {
  // { a }
  margin-top: 0.5rem;

  // &__icon-view { i }

  &__container { display: flex; }

  &__span { @extend .f-body, .f-text; }

  // View
  &__icon-view::before { font-family: iconography.$font-family; content: "\e890"; }
}

.aem-samsung {
  // { a }
  margin-top: 0.5rem;

  // &__icon-robot { i }
  &__container { display: flex; }

  &__input-login { width: 20rem; }

  &__button-save { margin-left: 0.5rem; }

  // Robot
  &__icon-robot::before   { font-family: iconography.$font-family; content: "\e99a"; }
  // Save
  &__button-save::before  { font-family: iconography.$font-family; content: "\e74e"; }
}

// ------------------------- Motion 2 -------------------------

.heading--options,
.about {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 125ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 125ms both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 125ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 125ms both;
}

.appearance {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 150ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 150ms both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 150ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 150ms both;
}

.shortcuts {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 175ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 175ms both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 175ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 175ms both;
}

.extensions {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 200ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 200ms both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 200ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 200ms both;
}

.heading--aem-samsung,
.aem-samsung {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 225ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 225ms both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) 225ms both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) 225ms both;
}
