@use "bootstrap";

@use "fluent/typography";
@use "fluent/color";
@use "fluent/button";
@use "fluent/dropdown";
@use "fluent/toggle_switch";
@use "fluent/expander";
@use "fluent/text_box";
@use "fluent/scroll_viewer";
@use "fluent/tooltip";
@use "fluent/surfaces";
@use "fluent/iconography";

/* ------------------------- Scroll Bar (Scroll Viewer) 2 ------------------------- */

html {
  overflow: auto;
}

body {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ------------------------- Surfaces 2 ------------------------- */

.light,
.dark {
  .f-app-surface-base {
    border: unset;
  }
}

/* ------------------------- options.html ------------------------- */

.min-width-2 { min-width: 2.5rem; }

.body {
  @extend .f-app-surface-base;

  &__container {
    @extend .container, .p-2, .f-app-surface-layer;
    border-radius: 8px;
  }
}

.heading1 { @extend .d-block, .mb-2, .f-title, .f-text; }

.block1 {
  @extend .mb-2;

  &__container1 { @extend .d-flex, .align-items-center; }
  &__container2 {
    @extend .d-flex, .justify-content-center, .align-items-center, .me-2;
    height: 100px;
    width: 200px;
  }
  &__container3 { @extend .d-flex, .flex-column; }
  &__title      { @extend .text-muted, .f-body, .f-text; }
}

.card {
  @extend .card, .mb-2;

  &__body       { @extend .card-body, .d-flex, .justify-content-between, .align-items-center; }
  &__container1 { @extend .d-flex; }
  &__icon {
    @extend .card-icon, .f-text;
    font-family: iconography.$font-family;
  }
  &__container2 { @extend .d-flex, .flex-column; }
  &__title      { @extend .f-body, .f-text; }
  &__subtitle   { @extend .f-caption, .f-text; }
}

.block2 {
  &__select-theme {
    @extend .form-select, .form-select-sm, .f-body, .f-text;
    width: 10rem;
  }

  // Personalize
  &__icon--theme::before { content: "\e771"; }
}

.block3 {
  &__container                { @extend .d-flex; }
  &__button--shortcuts        { @extend .btn, .btn-sm, .icon, .f-text, .btn--f-standard; }

  // KeyboardShortcut
  &__icon--shortcuts::before    { content: "\eda7"; }
  // OpenInNewWindow
  &__button--shortcuts::before  { font-family: iconography.$font-family; content: "\e8a7"; }
}

.expander {
  &__item       { @extend .accordion-item; }
  &__header     { @extend .accordion-header; }
  &__button     { @extend .accordion-button; }
  &__icon {
    @extend .accordion-icon, .f-text;
    font-family: iconography.$font-family;
  }
  &__container1 { @extend .d-flex, .flex-column; }
  &__title      { @extend .f-body, .f-text; }
  &__subtitle   { @extend .f-caption, .f-text; }
  &__collapse   { @extend .accordion-collapse; }

  &__body       { @extend .accordion-body, .d-flex, .justify-content-between, .align-items-center; }

  &__container2 { @extend .d-flex, .flex-column; }
}

.block4 {
  @extend .mb-2;

  &__container          { @extend .d-flex, .align-items-center; }
  &__title              { @extend .me-2, .f-body, .f-text; }
  &__switch             { @extend .form-check, .form-switch; }
  &__input              { @extend .form-check-input; }

  // View
  &__icon--view::before { content: "\e890"; }
}

.heading2 { @extend .d-block, .mb-2, .f-body-strong, .f-text; }

.block5 {
  &__container  { @extend .d-flex; }
  &__input {
    @extend .form-control, .form-control-sm, .me-2, .f-body, .f-text;
    width: 20rem;
  }
  &__btn-group  { @extend .btn-group, .btn-group-sm; }
  &__button     { @extend .btn, .btn-sm, .icon, .f-text, .btn--f-standard; }

  // Robot
  &__icon--robot::before          { content: "\e99a"; }
  // Save
  &__button--login-save::before   { font-family: iconography.$font-family; content: "\e74e"; }
  // UpdateRestore
  &__button--login-reset::before  { font-family: iconography.$font-family; content: "\e777"; }
}

/* ------------------------- Motion ------------------------- */

@keyframes ms-motion-slideDownIn {
  from { transform: translate3d(0, -48px, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes ms-motion-fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.block2 {
  animation:
  100ms 125ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 125ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

.block3 {
  animation:
  100ms 150ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 150ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

.block4 {
  animation:
  100ms 175ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 175ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}

.block5 {
  animation:
  100ms 200ms ms-motion-slideDownIn both cubic-bezier(.1, .9, .2, 1),
  100ms 200ms ms-motion-fadeIn both cubic-bezier(0, 0, 1, 1);
}
