@use "../bootstrap/bootstrap";

@use "../fluent/typography";
@use "../fluent/color";

@use "../fluent/controls/dropdown";
@use "../fluent/controls/text_box";
@use "../fluent/surfaces";

.component {
  @extend .f-app-surface-base, .p-2;

  &__inner            { @extend .f-app-surface-layer, .rounded, .p-2; }

  &__container-start  { @extend .d-flex; }// .justify-content-start
  &__container-end    { @extend .d-flex, .justify-content-end; }
  &__container-row    { @extend .row, .g-2; }
  &__container-col    { @extend .col; }

  &__input-group      { @extend .input-group, .input-group-sm; }
  &__input-group-text { @extend .input-group-text, .f-body, .f-text; }
  &__btn-group        { @extend .btn-group, .btn-group-sm; }

  &__select           { @extend .form-select, .form-select-sm; }
  &__input            { @extend .form-control, .form-control-sm; }
}

/* ------------------------- Dropdown 2 ------------------------- */

.light {
  .component__input-group-text {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
    border-color: rgba(0, 0, 0, 0.16);
  }
}

.dark {
  .component__input-group-text {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.09);
    border-color: rgba(255, 255, 255, 0.07);
  }
}
