@use "controls/bootstrap";

@use "typography";
@use "colors";

.container {
  &-start {
    display: flex;
    // justify-content: flex-start;
  }

  &-end {
    display: flex;
    justify-content: flex-end;
  }
}

.input-group {
  @extend .input-group, .input-group-sm;
}

.input-group-text {
  @extend .input-group-text, .body, .text;
}

.light {
  .input-group-text {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
    border-color: rgba(0, 0, 0, 0.16);
  }
}

.dark {
  .input-group-text {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.09);
    border-color: rgba(255, 255, 255, 0.07);
  }
}

.btn-group {
  @extend .btn-group, .btn-group-sm;

  &--buttons2 { width: 5rem; }

  &--buttons3 { width: 7.5rem; }
}
