/* ------------------------- Iconography ------------------------- */

// Microsoft Docs / ... / Segoe Fluent Icons font https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font

$font-family: "Segoe Fluent Icons";

@font-face {
  font-family: $font-family;
  src: url(../assets/fonts/segoe_fluent_icons.ttf) format("truetype");
}

.btn.icon {
  font-size: 14px;
}

.accordion-icon,
.card-icon {
  font-size: 24px;
  margin-right: 1.25rem;
}
