/* ------------------------- Typography ------------------------- */

// ------------------------- Type Ramp -------------------------

$font-family: "Segoe UI Variable";

@font-face {
  font-family: $font-family;
  src: url(../assets/fonts/segoe_ui_variable.ttf) format("truetype-variations");
}

.f-caption {
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.f-body {
  font-family: $font-family;
  font-feature-settings: 'rclt' off;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.f-body-strong {
  font-family: $font-family;
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.f-body-large {
  font-family: $font-family;
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.f-subtitle {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.f-title {
  font-family: $font-family;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.f-title-large {
  font-family: $font-family;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}

.f-display {
  font-family: $font-family;
  font-size: 68px;
  font-weight: 600;
  line-height: 92px;
}
