/* ------------------------- Typography ------------------------- */

// ------------------------- Type Ramp -------------------------

$font-family: "Segoe UI Variable";

@font-face {
  font-family: $font-family;
  src: url(../assets/fonts/segoe_ui_variable.ttf) format("truetype-variations");
}

.caption {
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.body {
  font-family: $font-family;
  font-feature-settings: 'rclt' off;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body-strong {
  font-family: $font-family;
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.body-large {
  font-family: $font-family;
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.title {
  font-family: $font-family;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.title-large {
  font-family: $font-family;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}

.display {
  font-family: $font-family;
  font-size: 68px;
  font-weight: 600;
  line-height: 92px;
}
