/* ------------------------- Variables ------------------------- */

$prefix: component;

// ------------------------- Surfaces -------------------------

// Microsoft Docs / ... / Geometry in Windows 11 https: //docs.microsoft.com/en-gb/windows/apps/design/signature-experiences/geometry

$border-radius-base: 8px;
$border-radius-layer: 4px;

$spacer: 0.5rem;
