@use "bootstrap";

@use "../variables" as var;

@use "../typography";
@use "../colors";

/* ------------------------- Button ------------------------- */

// .btn {
//   height: 32px;
//   width: 120px;
// }

.#{var.$prefix} {
  &__button {
    @extend .btn, .btn-sm;
    height: 32px;

    &--standard { @extend .standard, .body, .text; }

    &--accent { @extend .accent, .body, .text-on-accent; }

    &--standard-icon {
      @extend .standard, .text;
      font-size: 14px;
    }

    &--accent-icon {
      @extend .accent, .text-on-accent;
      font-size: 14px;
    }
  }
}

.light {
  // Mode: Light, Style: Standard

  .standard {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
    border-color: rgba(0, 0, 0, 0.16);

    &:hover {
      background-color: rgba(249, 249, 249, 0.5);
      // border: 1px solid;
      // border-color: rgba(0, 0, 0, 0.06);
      // border-color: rgba(0, 0, 0, 0.16);
    }

    &:active {
      background-color: rgba(249, 249, 249, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.06);
    }

    &:disabled {
      background-color: rgba(249, 249, 249, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.06);
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 0, 0, 0.9);
    }
  }

  // Mode: Light, Style: Accent

  .accent {
    background-color: rgba(0, 95, 184, 1);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: rgba(0, 95, 184, 0.9);
      // border: 1px solid;
      // border-color: rgba(255, 255, 255, 0.08);
      // border-color: rgba(0, 0, 0, 0.4);
    }

    &:active {
      background-color: rgba(0, 95, 184, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.08);
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.22);
      border: unset;
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 0, 0, 0.9);
    }
  }
}

.dark {
  // Mode: Dark, Style: Standard

  .standard {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.09);
    border-color: rgba(255, 255, 255, 0.07);

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
      // border: 1px solid;
      // border-color: rgba(255, 255, 255, 0.09);
      // border-color: rgba(255, 255, 255, 0.07);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.03);
      border: 1px solid rgba(255, 255, 255, 0.07);
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.07);
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(255, 255, 255, 1);
    }
  }

  // Mode: Dark, Style: Accent

  .accent {
    background-color: rgba(96, 205, 255, 1);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(0, 0, 0, 0.14);

    &:hover {
      background-color: rgba(96, 205, 255, 0.9);
      // border: 1px solid;
      // border-color: rgba(255, 255, 255, 0.08);
      // border-color: rgba(0, 0, 0, 0.14);
    }

    &:active {
      background-color: rgba(96, 205, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.08);
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.16);
      border: unset;
    }

    &:focus {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(255, 255, 255, 1);
    }
  }
}
