@use "../typography";
@use "../color";

/* ------------------------- Dropdown ------------------------- */

.light {
  // Mode: Light, Open: True

  .form-select {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
    border-color: rgba(0, 0, 0, 0.16);

    @extend .f-body, .f-text;
  }

  .form-select:hover {
    background-color: rgba(249, 249, 249, 0.5);
    // border: 1px solid;
    // border-color: rgba(0, 0, 0, 0.06);
    // border-color: rgba(0, 0, 0, 0.16);
  }

  .form-select:active {
    background-color: rgba(249, 249, 249, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .form-select:disabled {
    background-color: rgba(249, 249, 249, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .form-select:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 0, 0, 0.9);
  }

  .form-select {
    option {
      border: 1px solid rgba(0, 0, 0, 0.06);

      // background: rgba(255, 255, 255, 1);
      // mix-blend-mode: multiply;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);

      // background: url(NoiseAsset_256.png), rgba(252, 252, 252, 0.85);
      background-color: rgba(252, 252, 252, 0.85);
      // background-blend-mode: normal, luminosity;
      // backdrop-filter: blur(60px);
    }
  }
}

.dark {
  // Mode: Dark, Open: True

  .form-select {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.09);
    border-color: rgba(255, 255, 255, 0.07);

    @extend .f-body, .f-text;
  }

  .form-select:hover {
    background-color: rgba(255, 255, 255, 0.08);
    // border: 1px solid;
    // border-color: rgba(255, 255, 255, 0.09);
    // border-color: rgba(255, 255, 255, 0.07);
  }

  .form-select:active {
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }

  .form-select:disabled {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }

  .form-select:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(255, 255, 255, 1);
  }

  .form-select {
    option {
      border: 1px solid rgba(0, 0, 0, 0.2);

      // background: rgba(255, 255, 255, 1);
      // mix-blend-mode: multiply;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.26);

      // background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
      background-color: rgba(44, 44, 44, 0.15);
      background-color: rgba(44, 44, 44, 0.15);
      background-color: rgba(44, 44, 44, 0.96);
      // background-blend-mode: normal, color, luminosity;
      // backdrop-filter: blur(60px);
    }
  }
}
