@use "bootstrap";

@use "../variables" as var;

@use "../typography";
@use "../iconography";
@use "../colors";

/* ------------------------- Expander ------------------------- */

.#{var.$prefix} {
  &__expander {
    &-item { @extend .accordion-item; }

    &-header { @extend .accordion-header; }

    &-button { @extend .accordion-button; }

    &-icon {
      @extend .text;
      margin-right: 1.25rem;
      font-size: 24px;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-body-text { @extend .body, .text; }

    &-caption { @extend .caption, .text; }

    &-collapse { @extend .accordion-collapse; }

    &-body {
      @extend .accordion-body;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-icon::before { font-family: iconography.$font-family; content: "..."; }
  }
}

.#{var.$prefix} {
  &__card {
    @extend .card;

    &-body {
      @extend .card-body;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-container-row {
      display: flex;
      // flex-direction: row;
      align-items: center;
    }

    &-icon {
      @extend .text;
      margin-right: 1.25rem;
      font-size: 24px;
    }

    &-container-column {
      display: flex;
      flex-direction: column;
      // align-items: center;
    }

    &-body-text { @extend .body, .text; }

    &-caption { @extend .caption, .text; }

    &-icon::before { font-family: iconography.$font-family; content: "..."; }
  }
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding-left: 4rem;
  padding-right: 4rem;
}

.light {
  // Mode: Light, Expanded: False & True

  .accordion-item,
  .card {
    background-color: rgba(246, 246, 246, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .accordion-button {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  }

  .accordion-body {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

  .accordion-body:last-of-type {
    border-bottom: none;
  }
}

.dark {
  // Mode: Dark, Expanded: False & True

  .accordion-item,
  .card {
    background-color: rgba(255, 255, 255, 0.03);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .accordion-button {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .accordion-button:not(.collapsed) {
    // box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.08);
  }

  .accordion-body {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .accordion-body:last-of-type {
    border-bottom: none;
  }
}

// <div class="component__expander-item">
//   <span class="component__expander-header">
//     <button class="component__expander-button collapsed" data-bs-target="#accordion" data-bs-toggle="collapse" type="button">
//       <span class="component__expander-icon"></span>
//       <div class="component__expander-container">
//         <span class="component__expander-body-text">Text</span>
//         <span class="component__expander-caption">Text</span>
//       </div>
//     </button>
//   </span>
//   <div class="component__expander-collapse collapse" id="accordion">
//     <div class="component__expander-body">
//       <!-- ... -->
//     </div>
//   </div>
// </div>

// <div class="component__card">
//   <div class="component__card-body">
//     <div class="component__card-container-row">
//       <span class="component__card-icon"></span>
//       <div class="component__card-container-column">
//         <span class="component__card-body-text">Text</span>
//         <span class="component__card-caption">Text</span>
//       </div>
//     </div>
//     <!-- ... -->
//   </div>
// </div>
