@use "bootstrap";
@use "../typography";
@use "../colors";

/* ------------------------- Expander ------------------------- */
.expander {
  &__item {
    @extend .accordion-item;
  }

  &__header {
    @extend .accordion-header;
  }

  &__button {
    @extend .accordion-button;
  }

  &__icon {
    @extend .text;
    margin-right: 1.25rem;
    font-size: 24px;

    &::before {
      font-family: typography.$font-family-segoe-fluent-icons;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__bodytext {
    @extend .body, .text;
  }

  &__caption {
    @extend .caption, .text;
  }

  &__collapse {
    @extend .accordion-collapse;
  }

  &__body {
    @extend .accordion-body;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding-left: 4rem;
  padding-right: 4rem;
}

.card {
  @extend .card;

  &__body {
    @extend .card-body;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container-row {
    display: flex;
    // flex-direction: row;
    align-items: center;
  }

  &__icon {
    @extend .text;
    margin-right: 1.25rem;
    font-size: 24px;

    &::before {
      font-family: typography.$font-family-segoe-fluent-icons;
    }
  }

  &__container-column {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  &__bodytext {
    @extend .body, .text;
  }

  &__caption {
    @extend .caption, .text;
  }
}

.light {

  // Mode: Light, Expanded: False & True
  .accordion-item,
  .card {
    background-color: rgba(246, 246, 246, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .accordion-button {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.06);
  }

  .accordion-body {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

  .accordion-body:last-of-type {
    border-bottom: none;
  }
}

.dark {

  // Mode: Dark, Expanded: False & True
  .accordion-item,
  .card {
    background-color: rgba(255, 255, 255, 0.03);
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .accordion-button {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .accordion-button:not(.collapsed) {
    // box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.08);
  }

  .accordion-body {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .accordion-body:last-of-type {
    border-bottom: none;
  }
}
