@use "../typography";
@use "../color";

/* ------------------------- Text Box ------------------------- */

// input.form-control {
//   height: 32px;
//   width: 120px;
// }

.light {
  // Mode: Light

  input.form-control {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.06);
    // border-color: rgba(0, 0, 0, 0.45);
    border-bottom: 2px solid rgba(0, 0, 0, 0.45);

    @extend .f-body, .f-text;
  }

  input.form-control:hover {
    background-color: rgba(249, 249, 249, 0.5);
    // border: 1px solid;
    // border-color: rgba(0, 0, 0, 0.06);
    // border-color: rgba(0, 0, 0, 0.45);
  }

  input.form-control:active,
  input.form-control:focus {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(0, 95, 184, 1);
    box-shadow: unset;
  }

  input.form-control:disabled {
    background-color: rgba(249, 249, 249, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
}

.dark {
  // Mode: Dark

  input.form-control {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.08);
    // border-color: rgba(255, 255, 255, 0.54);
    // border-color: rgba(255, 255, 255, 0.54);
    border-bottom: 2px solid rgba(255, 255, 255, 0.54);

    @extend .f-body, .f-text;
  }

  input.form-control:hover {
    background-color: rgba(255, 255, 255, 0.08);
    // border: 1px solid;
    // border-color: rgba(255, 255, 255, 0.08);
    // border-color: rgba(255, 255, 255, 0.54);
    // border-color: rgba(255, 255, 255, 0.54);
  }

  input.form-control:active,
  input.form-control:focus {
    background-color: rgba(30, 30, 30, 0.7);
    border-bottom: 2px solid rgba(96, 205, 255, 1);
    box-shadow: unset;
  }

  input.form-control:disabled {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }
}
